<p id="notice"><%= notice %></p>
<h1>Courses</h1>
<%= link_to 'New Course', new_course_path %>
<table class="table">
  <thead>
    <tr>
      <th class="col-md-1" scope="col">Code</th>
      <th class="col-md-2" scope="col">Name</th>
      <th class="col-md-3" scope="col">Description</th>
      <th class="col-md-2" scope="col">Independent study</th>
      <th  class="col-md-1"scope="col" colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.code %></td>
        <td><%= course.name %></td>
        <td><%= course.description%></td>
        <td><%= course.independent_study.to_s.upcase %></td>
        <td><%= link_to 'Show', course %></td>
        <td><%= link_to 'Edit', edit_course_path(course) %></td>
        <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @courses, theme: 'bootstrap-5' %>